<div class="container">
    <div class="card">
        <div class="card-body">
            <h3><a href="/">
                    <img class="m-5" src="/static/img/logo.jpg" alt="灵天气">
                    灵天气™
                </a>
            </h3>
            <p>数据来源：<a href="https://www.sojson.com/blog/305.html">sojson</a></p>
            <p>技术支持：<a href="https://youthlin.com/">Youth．霖</a></p>
            <p>代码开源：<a href="https://github.com/YouthLin/examples/tree/master/example-beego">@GitHub</a></p>
        </div>
    </div>
</div>
<script>
    active = 'nav-item-about';
</script>
