<div class="container">
    <div class="text-center">
        <form class="search-form" action="/citySearch" data-target="#suggest">
            <h2>
                <a href="/">
                    <img class="m-5" src="/static/img/logo.jpg" alt="灵天气">
                    灵天气™
                </a>
            </h2>
            <label class="sr-only" for="city">城市</label>
            <input class="form-control search-input" type="text" id="city" name="city">
        </form>
        <div class="suggest" id="suggest">
            <!--ul><li><a class=" w-100" href="/weather/101010100.html">北京</a></li></ul-->
        </div>

        <div class="p-2">
            <h4 class="text-left">热门城市</h4>
            <ul class="m-0 p-0 row hot-city">
                {{ range $k, $v := .defaultHot }}
                    <li class="col-3 "><a class=" w-100" href="/weather/{{ $k }}.html">{{ $v }}</a></li>
                {{ end }}
                {{ range .hot }}
                    <li class="col-3 "><a class=" w-100" href="/weather/{{ .Code }}.html">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>

</div>
<script>
    var active = 'nav-item-home';
</script>
