<style>
    span.title {
        font-size: small;
        vertical-align: top;
    }
</style>
<div class="container">
    {{ $data := .weather.Data }}
    {{ $city := .weather.CityInfo }}
    <h3><a href="/weather/{{ $city.CityId }}.html">{{ $city.Parent }} - {{ $city.City }} 天气预报</a></h3>
    <div class="forecast">
        <table class="table">
            <tbody>
            <tr>
                <td><span class="title">温度</span> <span class="data">{{ $data.Wendu }}</span></td>
                <td><span class="title" title="直径 2.5 微米以下的细颗粒物">PM2.5</span>
                    <span class="data">{{ $data.Pm25 }}</span>
                </td>
            </tr>
            <tr>
                <td><span class="title">湿度</span> <span class="data">{{ $data.Shidu }}</span></td>
                <td><span class="title" title="直径 10 微米以下的可吸入颗粒物">PM10</span>
                    <span class="data">{{ $data.Pm10 }}</span>
                </td>
            </tr>
            <tr>
                <td><span class="title">空气质量</span> <span class="data">{{ $data.Quality }}</span></td>
                <td><span class="title">
                        <a target="_blank" class="text-dark"
                           href="http://t.weather.itboy.net/api/weather/city/{{ .weather.CityCode }}">
                            更新时间
                        </a>
                    </span>
                    <span class="data">{{ .weather.CityInfo.UpdateTime }}</span>
                    {{ str2html "<!--" }}
                    <span class="d-none">
                        本系统请求接口时间          CreatedAt {{ .weather.CreatedAt }} <br>
                        本系统记录更新时间(基本同上) UpdatedAt {{ .weather.UpdatedAt }} <br>
                        接口系统更新时间           Time       {{ .weather.Time }} <br>
                        实际天气更新时间           UpdateTime {{ .weather.CityInfo.UpdateTime }} <br>
                    </span>
                    {{ str2html "-->" }}
                </td>
            </tr>
            <tr>
                <td colspan="2"><span class="title">感冒提醒</span> <span class="data">{{ $data.Ganmao }}</span></td>
            </tr>
            </tbody>
        </table>
        <div class="table-responsive">
            <table class="table table-hover ">
                <thead>
                <tr>
                    <th>星期</th>
                    <th>日期</th>
                    <th>天气</th>
                    <th>日出</th>
                    <th>日落</th>
                    <th>最高</th>
                    <th>最低</th>
                    <th>风向</th>
                    <th>风力</th>
                    <th title="空气质量指数">AQI</th>
                </tr>
                </thead>
                <tbody>
                {{ with  $data.Yesterday }}
                    <tr title="{{ .Notice }}" class="text-secondary">
                        <td>{{ .Week }}<br>(昨天)</td>
                        <td><span title="{{ .Ymd }}">{{ .Date }}</span></td>
                        <td><img src="/static/img/icon/{{ .Type }}2.png" alt="icon"> {{ .Type }}</td>
                        <td>{{ .High }}</td>
                        <td>{{ .Low }}</td>
                        <td>{{ .Sunrise }}</td>
                        <td>{{ .Sunset }}</td>
                        <td>{{ .Fx }}</td>
                        <td> {{ .Fl }}</td>
                        <td>
                            {{ .Aqi }}<br>
                            {{ if lt .Aqi  0.1}}
                                -
                            {{ else if le .Aqi  50.0}}
                                优
                            {{ else if le .Aqi 100.0}}
                                良好
                            {{ else if le .Aqi 150.0}}
                                轻度污染
                            {{ else if le .Aqi 200.0}}
                                中度污染
                            {{ else if le .Aqi 300.0}}
                                重度污染
                            {{ else }}
                                严重污染
                            {{ end }}
                        </td>
                    </tr>
                {{ end }}
                {{ range $data.Forecast }}
                    <tr title="{{ .Notice }}">
                        <td>{{ .Week }}</td>
                        <td><span title="{{ .Ymd }}">{{ .Date }}</span></td>
                        <td><img src="/static/img/icon/{{ .Type }}.png" alt="icon"> {{ .Type }}</td>
                        <td>{{ .High }}</td>
                        <td>{{ .Low }}</td>
                        <td>{{ .Sunrise }}</td>
                        <td>{{ .Sunset }}</td>
                        <td>{{ .Fx }}</td>
                        <td> {{ .Fl }}</td>
                        <td>
                            {{ .Aqi }}<br>
                            {{ if lt .Aqi  0.1}}
                                -
                            {{ else if le .Aqi  50.0}}
                                优
                            {{ else if le .Aqi 100.0}}
                                良好
                            {{ else if le .Aqi 150.0}}
                                轻度污染
                            {{ else if le .Aqi 200.0}}
                                中度污染
                            {{ else if le .Aqi 300.0}}
                                重度污染
                            {{ else }}
                                严重污染
                            {{ end }}
                        </td>                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>

</div>
