<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>列表页</title>
    <!-- Bootstrap -->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">

    <form class="form-horizontal" action="#" th:action="@{/debug/code}" method="post" enctype="multipart/form-data">
        <!--/*@thymesVar id="error" type="java.lang.String"*/-->
        <div class="col-sm-offset-2 col-sm-10 text-danger" th:if="${error}" th:text="${error}">
            错误信息
        </div>
        <div class="form-group">
            <label for="bytes" class="col-sm-2 control-label">Class 文件</label>
            <div class="col-sm-10">
                <input class="form-control" id="bytes" type="file" name="bytes">
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="fileName" class="col-sm-2 control-label">Java 类名</label>
            <div class="col-sm-10">
                <input class="form-control" id="fileName" type="text" name="fileName" th:value="${fileName}">
            </div>
        </div>
        <div class="form-group">
            <label for="importClass" class="col-sm-2 control-label">依赖的类</label>
            <div class="col-sm-10">
                <input class="form-control" id="importClass" type="text" name="importClass" th:value="${importClass}">
            </div>
        </div>
        <!--/*@thymesVar id="sourceAvailable" type="java.lang.Boolean"*/-->
        <div class="form-group" th:if="${sourceAvailable}">
            <label for="code" class="col-sm-2 control-label">Java 代码</label>
            <div class="col-sm-10">
                <textarea name="code" id="code" cols="30" rows="10" class="form-control" th:text="${code}"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary">提交</button>
            </div>
        </div>
    </form>

    <!--/*@thymesVar id="result" type="java.lang.String"*/-->
    <pre th:if="${result}" th:text="${result}"></pre>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
