/* 深色模式 */
/* 深色下的背景和前景颜色定义 */
html {
    --dark-bg-darken: #181818;
    --dark-bg-normal: #282828;
    --dark-bg-lighter: #383838;
    --dark-fg: #999;
    --dark-fg-lighter: #aaa;
}

/* 底色 最黑 */
body {
    background-color: var(--dark-bg-darken);
    color: var(--dark-fg);
}

/* 亮黑：文章页面的标题、代码高亮的切换全屏按钮 */
.singular .entry-header,
.hljs-action {
    background-color: var(--dark-bg-lighter);
}

/* 正常黑色背景、浅色文字*/
/* 导航条 */
#site-header,
    /* 搜索模态页面 */
.search-modal-inner,
    /* 小屏菜单模态页面 */
.menu-modal-inner,
.menu-modal .toggle,
    /* 底部小工具 */
.header-footer-group,
    /* 搜索、菜单等 图标 */
body:not(.overlay-header) #site-header .toggle,
    /* ajax 评论加载 loading */
#comment-loading,
    /* 行内代码 */
code, kbd, samp,
    /* 非提交的输入框 */
input[type]:not([type=submit]),
select,
    /* 评论框 */
textarea,
    /* 底部 copyright 区域 */
#site-footer {
    background-color: var(--dark-bg-normal);
    color: var(--dark-fg);
}

/* 亮黑背景、浅色文字：表头 */
.header-footer-group table caption,
caption {
    background-color: var(--dark-bg-lighter);
    color: var(--dark-fg);
}

/* 浅色文字：文章标题 */
.entry-title a {
    color: var(--dark-fg);
}

/* 亮浅色文字：文章标题悬浮 */
.entry-title a:hover {
    color: var(--dark-fg-lighter);
}

/* 透明度动画 */
* {
    transition: opacity .5s ease-in-out;
}

/* 半透明：阅读更多、回复评论、提交按钮 */
span.faux-button,
.comment-reply-link,
input[type=submit] {
    opacity: .5;
}

span.faux-button:hover,
span.faux-button:focus,
.comment-reply-link:hover,
.comment-reply-link:focus,
input[type=submit]:hover,
input[type=submit]:focus {
    opacity: .8;
}

/* 评论勾选框 */
input[type="checkbox"]:checked::before {
    /* Use the "Yes" SVG Dashicon */
    content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23999999%27%2F%3E%3C%2Fsvg%3E");
}

/* 代码高亮不透明度 */
pre {
    opacity: .8;
}

/* 图片不透明度 */
img {
    opacity: .75;
}

img:hover {
    opacity: 1;
}

/* 代码高亮隔行背景色 */
.hljs tr:nth-of-type(even) {
    background-color: var(--dark-bg-lighter);
}

/* 代码高亮悬浮行背景色 */
.hljs tr:hover {
    background-color: var(--dark-bg-darken);
}

/* 归档页面隔行背景色 */
li.archive-item:nth-of-type(odd) {
    background-color: var(--dark-bg-lighter);
}
