{{ define "layout" }}
    <!doctype html>
    <html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/wangEditor.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/jquery.slim.min.js"></script>
        <script src="/static/js/jquery.slim.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/wangEditor.min.js"></script>
        <script src="/static/js/config.js"></script>
        <title>{{ .Title }}</title>
    </head>
    <body>
    <div id="wrap">
        <nav class="fixed-top navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">GoBBS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item nav-item-all">
                        <a class="nav-link" href="/">首页</a>
                    </li>
                </ul>
                {{ if not .User }}
                    <a href="/sign" class="btn btn-primary mr-2">注册</a>
                    <form class="form-inline my-2 my-lg-0" method="post" action="/login">
                        <input class="form-control mr-sm-2" type="text" name="userName" placeholder="用户名"
                               aria-label="用户名">
                        <input class="form-control mr-sm-2" type="password" name="password" placeholder="密码"
                               aria-label="密码">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">登录</button>
                    </form>
                {{ else }}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="btn btn-outline-success mr-2" href="/thread/new">发起话题</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                {{ .User.DisplayName }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/logout">登出</a>
                            </div>
                        </li>
                    </ul>
                {{ end }}
            </div>
        </nav>

        {{template "content" .}}

        <div id="end"></div>
    </div>
    <footer class="text-center">
        <div id="copyright">
            <p> &copy; GoBBS 2019</p>
            <p>Powered by GoLang. | <a href="https://youthlin.com/" target="_blank">霖博客</a></p>
        </div>
    </footer>
    </body>
    </html>
{{ end }}
